body {
  background-color: #f6f2d8;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  /*codelines taken from google fonts*/
  color: #6d1212;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  /*makes the body a flex container with child elements stacked vertically*/
  align-items: center;
  /*child elements are centered horizontally in the body*/

header {
  text-align: center;
}

.decor {
  margin: 0 auto;
  /*as this image is a decorative element, putting margin 0 will not affect the layout of the page, and auto will center it */
}

.decorcontent-1 {
  position: relative;
  /* the hero section is divided for the position to be styled absolutely with the decorative image */
  top: -570px;
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: #6d1212;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: -100px;
}

h3 {
  display: inline-block;
  background-color: #6d1212;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  top: 25px;
}

p {
  background-color: white;
  border: 3px dashed #6d1212;
  /*border are dashed to fit the handmade style of the web*/
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.description {
  /*this subclass is mostly for making text color fainter and removing the border to distinct from main content, as both have to be the same font size for readability */
  color: #b27b5f;
  border: none;
  background-color: transparent;
  padding: 0;
}

.mjsport {
  display: inline-block;
  /* Makes the element inline but allows block properties like padding and width */
  padding: 10px 20px;
  /* Adds internal space: 10px top/bottom, 20px left/right for button size */
  background-color: #421f0e;
  color: white;
  text-decoration: none;
  /* Removes underlines from links*/
  border-radius: 15px;
  cursor: pointer;
  /* Changes cursor to pointer on hover to indicate clickability */
  font-size: 1rem;
}

img {
  margin-bottom: 40px;
  margin-top: 10px;
}

footer {
  background-color: #f5dd8d;
  padding: 20px ;
  width: 100%;
  display: flex;

}

footer p {
  background: transparent;
  border: none;
  color: #b27b5f;
}

h4 {
  color: #6d1212; 
}

footer > * {
  max-width: 640px;
  margin: 0 auto 10px;
}

.stars { flex-direction: row; }

.stars input {
  display: none;
}

.stars label {
  color: rgb(189, 189, 189);
  font-size: 2rem;
  cursor: pointer;
}

.stars input:checked ~ label {
  color: red;
}
/* I am sad to say this section is unfinished, despite my ongoing efforts. I would like to preserve it as visual experimentations. */