body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color: lightblue;
}

nav {
  color: black;
  background: linear-gradient(
    to bottom,
    #ffffff 30%,
    rgba(255, 255, 255, 30%),
    rgba(255, 255, 255, 10%)
  );
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer {
  padding: 10px;
  background: linear-gradient(
    to top,
    #ffffff 0%,
    rgba(255, 255, 255, 30%),
    rgba(255, 255, 255, 10%)
  );
  color: black;
  text-align: center;
  padding: 10px;
}
