body {
  background-color: #f6f2d8;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  /*codelines taken from google fonts*/
  color: #6d1212;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
}

.decor {
  margin: 0 auto;
}

.decorcontent-1 {
  position: relative;
  top: -570px;
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: #6d1212;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: -100px;
}

h3 {
  display: inline-block;
  background-color: #6d1212;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  top: 25px;
}

p {
  background-color: white;
  border: 3px dashed #6d1212;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.description {
  color: #b27b5f;
  border: none;
  background-color: transparent;
  padding: 0;
}

.mjsport {
  display: inline-block;
  /* Makes the element inline but allows block properties like padding and width */
  padding: 10px 20px;
  /* Adds internal space: 10px top/bottom, 20px left/right for button size */
  background-color: #421f0e;
  color: white;
  text-decoration: none;
  /* Removes underlines from links*/
  border-radius: 15px;
  cursor: pointer;
  /* Changes cursor to pointer on hover to indicate clickability */
  font-size: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 10vh;
}

img {
  margin-bottom: 40px;
  margin-top: 10px;
}

/*footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}*/

/*.stars input {
  display: none;
}

.stars label {
  color: grey;
  font-size: 2rem;
  cursor: pointer;
}

.stars input:checked ~ label {
  color: gold;
} */
