body {
  background-color: #f6f2d8;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6d1212;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.mjsport {
  display: block; /* Makes it a block element for centering */
  width: 200px; /* Adjust width as needed */
  margin: 0 auto; /* Centers the button box horizontally */
  padding: 10px 20px; /* Adds space inside the button */
  text-align: center; /* Centers the text inside the button */
  text-decoration: none; /* Removes underline from link */
  background-color: #421f0e; /* Button background color */
  color: white; /* Text color */
  border: none; /* Removes border */
  border-radius: 5px; /* Rounds corners */
  font-size: 16px; /* Text size */
}

h2 {
  font-size: 1.5rem;
  font-style: bold;
}

/*.navigation {
  display: flex;
}
nav {
  position: sticky;
  top: 0;
  height: 10vh;
}*/

/*.stars input {
  display: none;
}

.stars label {
  color: grey;
  font-size: 2rem;
  cursor: pointer;
}

.stars input:checked ~ label {
  color: gold;
} */
